* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    height: 100vh;
    background-color: #000;
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: #ff0;
}

/* header */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    color: #fff;
    background-color: #0f0;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: .8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2s ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: .95;
}

/* dropdown */
.drop_down {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden !important;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.drop_down.open {
    height: 240px;
}

.drop_down li {
    padding: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop_down .action_btn {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* responsive */
@media screen and (max-width: 768px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .drop_down {
        display: block;
    }
}

@media screen and (max-width: 576px){
    .drop_down {
        left: 2rem;
        width: unset;
    }
}